*
{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
 }

 body
 {
    background-image: url();
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 18px;
    background: #ecf0f5 ;
    line-height: 1.8;
 }

 .menu-bar
 {
   background: skyblue ;
   text-align: center; 
 }
 
 .menu-bar ul
 {
    display: inline-flex;
    list-style: none;
    color: #fff;
 }
.menu-bar ul li
{
    width: 120px;
    margin: 15px;
    padding: 15px;
}
.active, .menu-bar ul li:hover
{
    background: white;
    border-radius: 3px;
}
.menu-bar .fa
{
    margin-right: 8px;
}

.sub-menu-1
{
    display: none;
}
.menu-bar ul li:hover .sub-menu-1
{
    display: block;
    position:absolute;
    background: skyblue;
    margin-top:15px;
    margin-left:-15px;
}
.menu-bar ul li:hover .sub-menu-1 ul
{
    display: block;
    margin: 10px;
}
.menu-bar ul li:hover .sub-menu-1 ul li{
    width: 150px;
    padding: 10px;
    border-bottom: 1p dotted #fff;
    background: transparent;
    border-radius: 0;
    text-align: left;

}
.menu-bar ul li:hover .sub-menu-1 ul li :last-child
{
    border-bottom: none;
}
.menu-bar ul li:hover .sub-menu-1ul li a:hover
{
    color: white;
}
.show-image
{
 /* text-align:center; */
 display:block;
 width: 50%;
 margin-left: auto;
 margin-right:auto;
}